<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>aisa</title>
    <style></style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link type="text/css" rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>
</head>
<header>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: black;">
        <div class="container-fluid"><a class="navbar-brand"><img src="/stylesheets/Logo.jpg" width="48" height="36"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" style="color: rgb(69, 167, 212);" href="/home">Home</a></li>
                    <li class="nav-item"><a class="nav-link"  style="color: rgb(69, 167, 212);" href="/calculateAOA">Calculate AOA</a></li>
                    <li class="nav-item"><a class="nav-link"  style="color: rgb(69, 167, 212);" href="/demo">Demo</a></li>
                    <li class="nav-item"><a class="nav-link"  style="color: rgb(69, 167, 212);" href="/download">Download</a></li>
                    <li class="nav-item"><a class="nav-link"  style="color: rgb(69, 167, 212);" href="/imprint">Imprint</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main></main>
<footer class="bg-light text-center text-lg-start">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">IMPRINT </h5>
                <p>aisa <br> Liliana Gitschel, Jan Seeman, Niklas Daute, Katharina Kaufmann & Antonia Jost <br> Studierende der WWU Münster im B.Sc. Geoinformatik & B.Sc. Geographie <br> Heisenbergstr. 2, 48149 M&uuml;nster <br> Deutschland </p>
            </div>
            
        </div>
    </div>
    <div class="text-center p-3" style="background-color: rgb(0, 0, 0); color: rgb(69, 167, 212);">&copy; 2021 Copyright: aisa </div>
    <script src="/javascripts/3_search.js" defer></script>
    <script src="/javascripts/1_3_tour_edit.js"></script>
</footer>