extends 0_layout
block content 

  //- image display
  .images
    .image-container.fade1
      img(src='/stylesheets/Background.jpg' width='80' height='80')
      p(style='margin:10px; font-size: small')
        //- image sources
        a
        | Background picture:
        | &copy;
        a
        | Microsoft PowerPoint 
        br
        a
        | Satellite:
        | &copy;
        a.link-sucess(href='https://upload.wikimedia.org/wikipedia/commons/3/3d/Sentinel_2-IMG_5873-white_%28crop%29.jpg')
          | Rama, CC BY-SA 2.0 FR 
  br
  br
  br
  //- start button to redirect to the calculation page
  .d-grid.gap-2.col-6.mx-auto
    a.btn.btn-outline-light(style='background-color:black; color: rgb(69, 167, 212); font-weight: bold' href='/AOA' role='button') Get started!
  br
  br
  block scripts
      //- required javascripts
      script(src=' /javascripts/2_calculateAOA.js', defer='')