extends 0_layout
block content

  //- HEADING
  br
  h2.text-center Result AOA
  br
  //- MAP DISPLAY (in einem Flex Container mit Text & Drowpdown) 
  .row
    .col-7
      #resultmap
    .col-1
        a.btn.btn-outline-light(style='background-color:black; color: rgb(69, 167, 212)' role='button' id = 'showAOA') Show AOA
        a.btn.btn-outline-light(style='background-color:black; color: rgb(69, 167, 212)' role='button' id = 'showPrediction') Show Prediction
    //- legend
    .col-4
      #textfeld
        h5.text-left LEGEND
        .card(style='width: 80%; margin-top: 30px; margin-bottom: 30px; display: block' id ='legendStandard')
          img.card-img-top(src='/stylesheets/Niklas.jpg')
        .card(style='width: 80%; margin-top: 30px; margin-bottom: 30px; display: none' id ='legendAOA')
          img.card-img-top(src='/stylesheets/Liliana.jpg')
        .card(style='width: 80%; margin-top: 30px; margin-bottom: 30px; display: none' id= 'legendPrediction')
          img.card-img-top(src='/stylesheets/Katharina.jpg')

        //- Redirection to download
        p.text-left
          | You want to download the results of the calculation? Click here!
        a.btn.btn-outline-light(style='background-color:black; color: rgb(69, 167, 212)' href='/download' role='button') Go to download


  block scripts
      //- JAVASCRIPTS
  script(src='/javascripts/2_calculateAOA.js', defer='')
  script(src='/javascripts/2_1_resultAOA.js', defer='')  
  script(src='/javascripts/2_2_prediction.js', defer='')
  