extends 0_layout
block content 

    //- hier tolle "Danke für Upload Seite ergänzen"
      -> Ich würde einfach direkt zur ResultAOA-Seite wechseln, die Seite bräuchten wir also nicht, 
      außer natürlich du möchtest sie unbedingt :P :)

  block scripts
      //- JAVASCRIPTS
      script(src='/javascripts/2_calculateAOA.js', defer='')