extends 0_layout
block content

  //- heading
  br
  h2.text-center Landuse classification
  //- redirection to demo
  p.text-center
    | Not sure how to use our tool? Check out our 
    a(href='/demo') demo!
  br
  //- map display and selection of the calculation frame
  .row
    .col-5
      #map
    //- area selection and file upload
    .col-7
      #textfeld
        h5.text-left AREA SELECTION
        p.text-left
          | Please choose if you want to draw a bounding box directly on the map or if you want to enter the coordinates manually.
        
        //- form select to choose option for area selection
        select#choose2.form-select.form-select-lg.mb-3(name='choose' aria-label='form-select1' style='background-color: black; color: rgb(69, 167, 212); font-size: 16px;')
          option(selected='') Please choose...
          option(value='0') Draw Bounding Box
          option(value='1') Enter Coordinates
        //- upload form to enter coordinates manually
        form#input-form(name='input-form')      
          .mb-3
            label.form-label(for='coordinates') Coordinates
            input#input3.form-control(type='text' name='coordinates' class='input-box' placeholder='Lower Left Longitude' disabled='')
            br
            input#input2.form-control(type='text' name='coordinates' class='input-box' placeholder='Lower Left Latitude' disabled='')
            br
            input#input3.form-control(type='text' name='coordinates' class='input-box' placeholder='Upper Right Longitude' disabled='')
            br
            input#input3.form-control(type='text' name='coordinates' class='input-box' placeholder='Upper Left Latitude' disabled='')
          .mb-3.form-check
            input#exampleCheck1.form-check-input(type='checkbox')
            label.form-check-label(for='checkbox') Everything correct?
          a.btn.btn-outline-success(style='background-color: black; color: rgb(69, 167, 212)' type='submit' form='input-form' onclick="document.getElementById('input-form').submit()") Submit
          
        br
        h5.text-left UPLOAD
        p.text-left
          | Please choose if you want to upload a trained model or only training data.
        //- form select to choose upload option
        select#choose2.form-select.form-select-lg.mb-3(name='choose1' aria-label='form-select1' style='background-color: black; color: rgb(69, 167, 212); font-size: 16px;')
          option(selected='') Please choose...
          option(value='0') Trained model 
          option(value='1') Training data (without model)
        //- upload form to enter file with training data
        form#inputModel
          .form-group
            input#upload-button.form-control-file(type='file')
            br
            br
            button.btn.btn-outline-success(style='background-color: black; color: rgb(69, 167, 212)' type='submit') Submit

        br
        h5.text-left OPTIONAL SETTINGS
        p.text-left
          | You can optionally set the cloud coverage and the resolution of the satellite images.
        form
        p.text-left  
          | Cloud cover: 
          span#demo
          | %
          .slidecontainer
            input#myRange.slider(type='range' min='1' max='100' value='20')  

        br
        br
        button.btn.btn-outline-success(style='background-color: rgb(69, 167, 212); color: black' onclick= 'startCalculation()') Start Calculation
      

      //- required javascripts
      script(src='/javascripts/2_calculateAOA.js', defer)
      script(src='/javascripts/2_1_ownresultAOA.js', defer)

