extends 0_layout
block content

  //- heading
  br
  h2.text-center Landuse classification
  //- redirection to demo
  p.text-center
    | Not sure how to use our tool? Check out our 
    a(href='/demo') demo! 
    br
    | For additional format instructions and further information, please visit our 
    a(href='https://github.com/JanSeemann92/AISA_GeosoftwareII') GitHub!
  br
  //- map display and selection of the calculation frame
  .row
    .col-5
      #map
    //- area selection and file upload
    .col-7
      #textfeld
        h5.text-left AREA SELECTION
        p.text-left
          | Please choose if you want to draw a bounding box directly on the map or if you want to enter the coordinates manually.
        p(style='font-size:12px') 
          | Note: The examination of a "boundary case" at the edge of the map (coordinates like xmin = 170.0/xmax = -170.0) only works with the bounding box!
        
        //- form select to choose option for area selection
        select#choose2.form-select.form-select-lg.mb-3(name='choose' aria-label='form-select1' style='background-color: black; color: rgb(69, 167, 212); font-size: 16px;')
          option(selected='') Please choose...
          option(value='0') Draw Bounding Box
          option(value='1') Enter Coordinates
        p(id='msgoption' style='color: red; display: none') Please select an option for entering the coordinates.
        p(id='msgbox' style='color: red; display: none') Please draw your AOI to read in the coordinates. Alternatively, select the option to enter the coordinates manually.
        //- upload form to enter coordinates manually
        form#input-form(name='input-form')      
          .mb-3
            label.form-label(for='coordinates') Coordinates
            input#ymin.form-control(type='text' name='coordinates' class='input-box' placeholder='Lower Left Latitude (ymin)' disabled='')
            br
            input#xmin.form-control(type='text' name='coordinates' class='input-box' placeholder='Lower Left Longitude (xmin)' disabled='')
            br
            input#ymax.form-control(type='text' name='coordinates' class='input-box' placeholder='Upper Right Latitude (ymax)' disabled='')
            br
            input#xmax.form-control(type='text' name='coordinates' class='input-box' placeholder='Upper Left Longitude (xmax)' disabled='')
        p(id='msgmissed' style='color: red; display: none') Please fill in all coordinate fields.
        p(id='msgformat' style='color: red; display: none') Please check the ordner and the format of your coordinate entries. They must be entered in the coordinate system wgs84/epsg:4326. Also note that only numbers from 0-9 and "." are allowed. (Lat min/max = -90.0/90.0; Lng min/max = -180.0/180.0) 
        br
        h5.text-left UPLOAD
        p.text-left
          | Please upload a model (.rds) or training data (.gpkg/.geojson).
        //- upload form to enter file with training data
        form(method='post' enctype='multipart/form-data' action='/upload')
          input#upload(type='file' name='upload')
          input(id = 'uploadbutton' type='submit' value='Submit' style='display:none')
        p(id='msgupload' style='color: red; display: none') Please upload a model (.rds) or training data (.gpkg/.geojson).
        p(id='msgfile' style='color: red; display: none') The uploaded file must be either a model in .rds format or training data in .gpkg or .geojson format.
        p(id='msgrds' style='color: red; display: none') You have uploaded an empty model file.
        p(id='msggeojson' style='color: red; display: none') You have uploaded an empty .geojson file for the training data.
        p(id='msggpkg' style='color: red; display: none') You have uploaded an empty .gpkg file for the training data.
        p(id='msggeojsonformat' style='color: red; display: none') The format of your geojson is not correct. Please check if your geojson is of type "FeatureCollection", if there is a "label" for each feature, if the geometry is of type "MultiPolygon" or "Polygon", and if there are coordinates for each geometry.
        p(id='msgtrainingdataR' style='color: red; display: none') The format of your training data is not correct. Please check if it has a CRS, if there is the property "Label" and if it has at least two entries per LULC class. 
        p(id='msgmodelR' style='color: red; display: none') Your model does not contain any predictor names or contains invalid predictor names .
        br
        br
        h5.text-left OPTIONAL SETTINGS
        p.text-left
          | You can optionally set the cloud coverage and the resolution of the satellite images.
        form
        p.text-left
          | Cloud cover: 
          span#demo
          | %
          .slidecontainer
            input#myRange.slider(type='range' min='1' max='100' value='20')  
        p.text-left
          | Resolution (m):
        select.custom-select.my-select#resolution(name ='resolution')
          option 20
          option 40
          option 80
        br
        br
        .form-group.form-check(id='validate1' style='display: block')
          input#validate.form-check-input(type='checkbox')
          label.form-check-label(for='exampleCheck1') Everything correct?
        .form-group.form-check(id= 'validate3' style='display: none; color: red')
          input#validate2.form-check-input(type='checkbox')
          label.form-check-label(for='exampleCheck2') Everything correct?  
        br
        button.btn.btn-outline-success(id = 'start' style='background-color: rgb(69, 167, 212); color: black; font-weight: bold' onclick= 'startCalculation()') Start Calculation
        p.text-center(id='msgstart' style='color: rgb(69, 167, 212); display: none; margin-buttom: 0') The calculation is now executed. This may take a few minutes. Please do not abort the process! After the process is finished you will be redirected to the results page.
        #loading.text-center

      //- required javascripts
      script(src='/javascripts/2_calculateAOA.js', defer)