extends 0_layout
block content

  //- heading
  br
  h2.text-center Demo
  //- step-by-step tutorial
  //- headline & step 1
  .row
    #introduction 
      p Step-by-Step Tutorial 
    #link 
      a(href='#loadingdemo' style= 'color: black; text-align: center') (You want to run a demo? Click here!)
    .col-1 
      #heading 
        p Step 1
    .col-2
      #textarea
        p  
          | First of all, you need to select the area you're interested in (AOI).
          | Therefore, we offer you 2 different options you can see in the dropdown bar. 
          | Once you've selected your prefered option, you'll be able to either draw a bounding 
          | box directly on the map or to enter the coordinates manually (Please pay attention 
          | to the correct format and order of the coordinates!)
    .col-4
      img.img-fluid(src='/stylesheets/step1_1.jpg') 
        
    .col-4
      img.img-fluid(src='/stylesheets/step1_2.jpg')
      br
      br
      br
      br

  //- step 2
  .row
    .col-1 
      #heading 
        p Step 2
    .col-2
      #textarea
        p
          | Next, you need to upload a model in .rds format or training data in .geojson/.gpkg format. 
          | You can find more detailed format information on our #[a(href = 'https://github.com/JanSeemann92/AISA_GeosoftwareII') Github page.]
    .col-6
      img.img-fluid(src='/stylesheets/step2.jpg') 
      br
      br
      br
      br
      br

  //- step 3
  .row
    .col-1 
      #heading 
        p Step 3
    .col-2
      #textarea
        p
          | Optionally you can change the settings for the cloud cover and the resolution. Please be thoughtful
          | when setting the resolution. It should be reasonable in relation to the traningsdata and AOI. 
          | Otherwise the calculation might not succeed.
    .col-6
      img.img-fluid(src='/stylesheets/step3.jpg') 
      br
      br
      br
      br
      br

  //- step 4
  .row
    .col-1 
      #heading 
        p Step 4
    .col-2
      #textarea
        p
          | Great! Now you can start the calculation with "Start calculation". 
          | The calculation process will take a little time, so please be patient! 
          | When the calculation is finished, you will be redirected to the results 
          | and can view the calculated AOA, the prediction, the training polygons (depending on the input case) 
          | and the suggested sampling points (depends on whether there are areas outside the AOA in the area under consideration) 
          | on a map using LayerControls.
    .col-6
      img.img-fluid(src='/stylesheets/step4.jpg') 
      br
      br
      br
      br
      br

  //- step 5
  .row
    .col-1 
      #heading 
        p Step 5
    .col-2
      #textarea
        p
          | Finally, you have the possibility to download the data as a 
          | bundled .zip file by clicking on one of the download buttons. 
          | Besides your own calculated data we also offer you the demo data 
          | of our demo calculation (see below).
    .col-6
      img.img-fluid(src='/stylesheets/step5.jpg') 
      br
      br
      br
      br

  //- demo
  .a
    #introduction 
      p Are you curious now?
    #textcenter 
      p Try out our one-click-demo! With just one click a demoversion will start and calculate an example AOA.
  //- start-demo-button
  .d-grid.gap-2.col-4.mx-auto
    a.btn.btn-outline-light(id = 'startdemo' style='background-color: rgb(69, 167, 212); color: black; font-weight: bold' onclick= 'startDemoCalculation()') Start the demo!
  p.text-center(id='msgstartdemo' style='color: rgb(69, 167, 212); display: none; margin-buttom: 0') The calculation is now executed. This may take a few minutes. Please do not abort the process! After the process is finished you will be redirected to the results page.
  #loadingdemo.text-center
  br

  block scripts
      //- required javascruots
      script(src='/javascripts/3_demo.js', defer)
