extends 0_layout
block content

  //- HEADING
  br
  h2.text-center Download data
  br

  .row
    .col-6
      #textfeld
        p.text-left
          | Please select the data you want to download!
        //- FORM SELECT TO CHOOSE OPTION
        select#choose2.form-select.form-select-lg.mb-3(name='choose1' aria-label='form-select1' style='background-color: black; color: rgb(69, 167, 212); font-size: 16px;')
          option(selected='') Please select...
          option(value='2') Prediction map (tiff)
          option(value='3') Calculated AOA (tiff)
          option(value='4') Coordinates of recommended sampling areas (geojson)
          option(value='5') Trained model (R data format)
        a.btn.btn-outline-success(style='background-color: black; color: rgb(69, 167, 212)' type='submit' form='input-form' onclick="alert('Button works!')") Download data

  block scripts
  //- JAVASCIPTS
  script(src='/javascripts/4_download.js', defer)
