extends 0_layout
block content

  //- heading
  br
  h2.text-center Download data
  p.text-center
    | By clicking on one of the download buttons the corresponding files will be downloaded as .zip file.
  br
  //- download area
  .row
    .col-3
    .col-4
      //- download own calculation data
      //- downloadbutton
      button.btn.btn-outline.form-select-lg.mb-3(style='background-color: black; color: rgb(69, 167, 212)' onclick= 'downloadowndata()') Download the data of your own calculations
      br
      //- downloadinformation
      ul 
        li Prediction map (.tif)
        li Calculated AOA (.tif)
        li Coordinates of recommended sampling areas (.geojson)
        li Trained model (.rds) [If no model was uploaded!]
      //- download demo calculation data
      //- downloadbutton
      button.btn.btn-outline.form-select-lg.mb-3(style='background-color: black; color: rgb(69, 167, 212)' onclick= 'downloaddemodata()') Download the demodata we provide
      //- downloadinformation
      ul 
        li Prediction map (.tif)
        li Calculated AOA (.tif)
        li Coordinates of recommended sampling areas (.geojson)
        li Trainingpolygons (.geojson) 
        li Trained model (.rds) 

  block scripts
      //- required javascripts
      script(src='/javascripts/4_download.js', defer)