extends 0_layout
block content

  //- HEADING
  br
  h2.text-center Download data
  br

  .row
    .col-7
      #textfeld
        //- Downloadbuttons
        p(style= 'font-weight: bold')
          | By clicking on one of the download buttons the corresponding files will be downloaded as .zip file.
        button.btn.btn-outline.form-select-lg.mb-3(style='background-color: black; color: rgb(69, 167, 212)' onclick= 'downloadowndata()') Download the data of your own calculations
        br
        button.btn.btn-outline.form-select-lg.mb-3(style='background-color: black; color: rgb(69, 167, 212)' onclick= 'downloaddemodata()') Download the demodata we provide
  
        //- Downloadinformation
        p(style= 'font-weight: bold') The download provides the following files:
        p Prediction map (tiff)
        p Calculated AOA (tiff)
        p Coordinates of recommended sampling areas (geojson)
        p Trained model (R data format)
       
  block scripts
  //- JAVASCIPTS
  script(src='/javascripts/4_download.js', defer)
