extends 0_layout
block content

  //- heading
  br
  h3.text-center About the team
  br

  //- introduction of the team
  #textarea
    p.text-center 
      | We are a young five-person software team from Münster, Germany. In 2021 we founded our startup aisa 
      | and since then we have been following our mission to create a software that allows the user 
      | to apply the machine learning algorithm for land use land cover (LULC) without any prior knowledge. 
      | They will receive a result that visually indicates the area of applicability of the mentioned AI 
      | as well as the LULC classification in case the AI is applicable for the selected area.
      | We strive to offer a useful tool for scientists from anywhere in the world to make their work 
      | even more efficient and help them to focus on the core of their work, not on the technical implementation.
  
  //- contact display
  .container
    .row
      .col-sm
        .card(style='width: 100%; margin-top: 30px; margin-bottom: 30px;')
          img.card-img-top(src='/stylesheets/Liliana.jpg')
          .card-body
            h5.card-title Liliana Gitschel
            p.card-text 
                | Hier kreativen Text einfügen ...
            a.btn.btn-outline-light(href='mailto:l_gits01@uni-muenster.de' style='background-color:black; color: rgb(69, 167, 212)') Contact Lilana!
      .col-sm
        .card(style='width: 100%; margin-top: 30px; margin-bottom: 30px;')
          img.card-img-top(src='/stylesheets/Jan.JPG')
          .card-body
            h5.card-title Jan Seemann
            p.card-text
              | Hier kreativen Text einfügen ...
            a.btn.btn-outline-light(href='mailto:jan.seemann@uni-muenster.de' style='background-color:black; color: rgb(69, 167, 212)') Contact Jan!
      .col-sm
        .card(style='width: 100%; margin-top: 30px; margin-bottom: 30px;')
          img.card-img-top(src='/stylesheets/Niklas.JPG')
          .card-body
            h5.card-title Niklas Daute
            p.card-text
              | Hier kreativen Text einfügen ...
            a.btn.btn-outline-light(href='mailto:n_daut02@uni-muenster.de' style='background-color:black; color: rgb(69, 167, 212)') Contact Niklas!
      .col-sm
        .card(style='width: 100%; margin-top: 30px; margin-bottom: 30px;')
          img.card-img-top(src='/stylesheets/Katharina.JPG')
          .card-body
            h5.card-title Katharina Kaufmann
            p.card-text
              | Hier kreativen Text einfügen ...
            a.btn.btn-outline-light(href='mailto:kkaufman@uni-muenster.de' style='background-color:black; color: rgb(69, 167, 212)') Contact Katharina!
      .col-sm
        .card(style='width: 100%; margin-top: 30px; margin-bottom: 30px;')
          img.card-img-top(src='/stylesheets/Antonia.JPG')
          .card-body
            h5.card-title Antonia Jost
            p.card-text
              | Hier kreativen Text einfügen ...
            a.btn.btn-outline-light(href='mailto:antonia.jost@uni.muenster.de' style='background-color:black; color: rgb(69, 167, 212)') Contact Antonia!
    a(href="http://www.freepik.com") 
        | Designed by rawpixel.com, Freepik
    br
    br
        