extends 0_layout
block content

  //- heading
  br
  h3.text-center About the team
  br

  //- introduction of the team
  #textarea
    p.text-center 
      | We are a young five-person software team from Münster, Germany. In 2021 we founded our startup aisa 
      | and since then we have been following our mission to create a software that allows the user 
      | to apply the machine learning algorithm for land use land cover (LULC) without any prior knowledge. 
      | They will receive a result that visually indicates the area of applicability of the mentioned AOI 
      | as well as the LULC classification in case the AOI is applicable for the selected area.
      | We strive to offer a useful tool for scientists from anywhere in the world to make their work 
      | even more efficient and help them to focus on the core of their work, not on the technical implementation.
  
  //- contact display
  .row.row-cols-2.row-cols-md-5.g-3(style='margin-left:5%; margin-right:5%;')
    .col
      .card
        h5.card-header(style='background-color: rgb(69, 167, 212)')
          | Liliana Gitschel
        .card-body
          h6.card-subtitle.mb-2.text-muted Backend-Developer
          p.card-text 
              | Liliana is our expert for the theory of the Area of Applicability and machine learning. She is responsible for
              | modelling, predicting, estimating the AOA and suggesting further sampling locations.
          a.btn.btn-outline-light(href='mailto:l_gits01@uni-muenster.de' style='background-color:black; color: rgb(69, 167, 212)') Contact Lilana!
    .col
      .card
        h5.card-header(style='background-color: rgb(69, 167, 212);')
          | Jan Seemann
        .card-body
          h6.card-subtitle.mb-2.text-muted Backend-Developer
          p.card-text
            | Jan is responsible for the backend APIs built with beakr. He also supported the docker containerisation. Moreover, he continuously tests our R scripts.
          a.btn.btn-outline-light(href='mailto:jan.seemann@uni-muenster.de' style='background-color:black; color: rgb(69, 167, 212)') Contact Jan!
    .col
      .card
        h5.card-header(style='background-color: rgb(69, 167, 212)')
          | Niklas Daute
        .card-body
          h6.card-subtitle.mb-2.text-muted Backend-Developer
          p.card-text
            | Niklas knows everything about STAC. He requests the required images and subsamples them...
          a.btn.btn-outline-light(href='mailto:n_daut02@uni-muenster.de' style='background-color:black; color: rgb(69, 167, 212)') Contact Niklas!
    .col
      .card
        h5.card-header(style='background-color: rgb(69, 167, 212)')
          | Katharina Kaufmann
        .card-body
          h6.card-subtitle.mb-2.text-muted Frontend-Developer
          p.card-text
            | Katharina makes sure that the user interface you're using right now always works as reliable, quickly and intuitive as it does.
            | She handles every user input, checks its validity and returns after communication with the backend the wanted output for viewing as well as for downloading.
          a.btn.btn-outline-light(href='mailto:kkaufman@uni-muenster.de' style='background-color:black; color: rgb(69, 167, 212)') Contact Katharina!
    .col
      .card
        h5.card-header(style='background-color: rgb(69, 167, 212)')
          | Antonia Jost
        .card-body
          h6.card-subtitle.mb-2.text-muted Frontend-Developer
          p.card-text
            | Antonia is in charge of running the programme on the Amazon Server while using the containerisation with Docker. 
            | Besides that, she contributes to an appealing and intuitive GUI.
          a.btn.btn-outline-light(href='mailto:antonia.jost@uni.muenster.de' style='background-color:black; color: rgb(69, 167, 212)') Contact Antonia!
    br
    br